@using E_Market.Core.Application.ViewModels.Anuncios;
@model SaveAnuncioViewModel
@{
    ViewData["Title"] = "Elimianr Anuncio";
}

<div class="row">

    <div class="col-6 offset-3" >
        <div class="card">
            <div class="card-header bg-primary text-light">
                <h4>Esta seguro que desea eliminar el anuncio @Model.Name?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Anuncio" asp-action="DeletePost">
                
                    <input type="hidden" asp-for="Id" />

                    <div class="text-center">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Anuncio" asp-action="Index" class="btn btn-secondary ">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

