@using E_Market.Core.Application.ViewModels.Categories;
@model SaveCategoryViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar categoria";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <h4>@(editMode ? $"Editando la categoria: {Model.Name}" : "Creando una nueva categoria")</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Category" asp-action="@(editMode ? "Edit":"Create")">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Descripcion: </label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>
                   

                        <input type="hidden" asp-for="Id" />
                         <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Volver atras</a>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>

